<body>
    <app-child (recievet)=recievet($event) (recieves)=recieves($event) (recievef)=recievef($event) (recievec)=recievec($event)></app-child>
    <div [class.container]=true>
        <!-- <div *ngIf="style==bold ">
            <div [class.r-bold]=true [ngStyle]="{ 'font-size':+font_size+ 'px', 'color': color} ">{{text}}
            </div>
        </div> -->
        <div [class.r-bold]=true [ngStyle]="{ 'font-size':+font_size+ 'px', 'color': color} ">{{text}}
        </div>

    </div>
</body>
